@font-face {
    font-family: 'Vazir';
    src: url('/fonts/vazir-500.woff2') format('woff2'),
         url('/fonts/vazir-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --font-family-sans: 'Vazir', sans-serif;
  }
  
  * {
    font-family: 'Vazir', sans-serif !important;
  }